<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mall.mapper.CollectionMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  t_shop_collection 
		WHERE
			 product_id = #{id} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.mall.entity.Collection">
		SELECT * 
		FROM  t_shop_collection
		WHERE
			 product_id = #{id} 		
	</select>


	<select id="queryByUserIdAndProductId" parameterType="java.lang.String" resultType="org.jeecg.modules.mall.entity.bo.CollectionProductBO">
		select c.id,p.id as productId,p.title,p.selling_price as product_price from t_shop_collection c LEFT JOIN t_shop_product p on c.product_id = p.id
		WHERE
			 c.user_id = #{userId}
	</select>
</mapper>
